/* fed style til makupfilerne som er alm html og lister overskrifter osv. */
/* alt skal midtestilles og have en god farve og font */
body {
    font-family: Arial, sans-serif;
    background-color: #aaad83;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1, h2, h3 {
    color: #333;
    line-height: 2;

}

details, summary, ul, ol, table, td, th {
    line-height: 2;
    font-family: cursive;
    font-size: 22px;
    color: #144914;
}

table, td, th {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #144914;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

/*
details {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #aaad83;
  border-radius: 8px;
  background: #aaad83;
}

summary {
  font-weight: bold;
  cursor: pointer;
}
*/

/* billeder skal centreres horisontalt*/ 
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
